
.users__list{
margin-top: 40px;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(375px,375px));
justify-content: center;
gap:1.1rem;
}
.user_card{
background-color: var(--card-color);
height: 318px;
border-radius: var(--common_border_radius);
padding:40px 1.9rem;
box-shadow: 2px 6px 5px rgba(211, 211, 211, 0.1);
&:hover{cursor: pointer;}
&__name{
font-weight: 500;
font-size: 1.3em;
letter-spacing: 0.5px;
}
&__contacts{
    margin-top:45px;
    display: grid;
    justify-content: flex-start;
    gap:1.3rem;
}
&__link{
    color: slategray;
    text-decoration: none;
    display: flex;
    gap:1rem;
    align-items: center;
}
&__link:hover{
    cursor: pointer;
}
&__phone{
    font-size: 1.1em;
}
&__email{
font-weight: 300;
font-size: .85em;
text-decoration: underline;
}
&__icon{
    color: var(--accent-color);
    font-size: large;

}
}

